.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
}

.content {
	min-width: 50%;
	background-color: var(--white);
	padding: 1.6rem;

   border-radius: 1rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #ddd;
   margin-bottom: 1.6rem;
   padding-bottom: 0.8rem;
}

header .title {
	font-size: 2.4rem;
	font-family: var(--ff-arial-helvetica);
}

header .add-button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.8rem;

   background-color: var(--red);
   color:var(--white) ;

   border-radius: 50%;
   border:none
}
