.formContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.inputGroup {
	border: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.inputGroup label {
	font-size: 1.3rem;
	font-weight: bold;
}

.inputGroup input {
	padding: 0.4rem;
	border-radius: 0.5rem;
	border: 2px solid var(--gray-700);
}

.selectCategory {
	padding: 0.4rem;
	border-radius: 0.5rem;
	border: 2px solid var(--gray-700);
	background-color: var(--white);
}

.formContainer button {
	border: none;
	border-radius: 0.5rem;
	padding-inline: 5rem;
	padding-block: 0.8rem;
	background-color: lightblue;
	font-size: 1.2rem;
}
