.grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-content: center;

   background-color: var(--grey-dark-900);
  
}

.containerApp{
   max-width: min(55rem, 100%);
   height: 100vh;
	background-color: var(--dark-background);

   display: grid;
   justify-items: center;
   align-content: center;
}