*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}

body{
   font-family: var(--ff-inter);
}

:root{
   --white: #fff;

   --light-background: #F5F5F5;
   --orange: #f47d27;
   
   --clr-title: #2b283a;
   --clr-text: #4a4e74; 

   --grey-300:#D1D5DB; 
   --grey-400:#D5D4D8;
   --grey-700: #374151;


   /* Fonts */
   font-size: 62.5%; /* transformar o font em 10px */

   --ff-inter: 'Inter', sans-serif;
}