.card{
   margin-top: 4.9rem;
   font-family: "Poppins", sans-serif;
   color: #222222;
}

.card-image {
	position: relative;
}

.card-image .card-photo{
   width: min(17.6rem , 90%);
   height: 23.5rem ;
	border-radius: 0.9rem;
   background: url("https://picsum.photos/170/300");
}

.card-image .status {
   padding-block: 0.6rem;
   padding-inline: 0.5rem;

	position: absolute;
	top: 0.6rem;
   left: 0.6rem;

	font-weight: 400;
	font-size: 1rem;
	line-height: 110%;

	text-align: center;

   background-color: #FFF;
	
}

.card-image .stars{
   margin-top: 0.9rem;
}

.card-image .stars span img{
   margin-right: 0.2rem;
}

.card-footer .description {
   margin-top: 0.8rem;

	font-weight: 300;
	font-size: 1.2rem;
	line-height: 110%;
}

.card-footer .price {
   margin-top: 0.8rem;

	font-weight: 300;
	font-size: 1.2rem;
	line-height: 110%;
}


.card-footer .price span{
	
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 110%;

}

