.overlay{
   position: absolute;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 40%);
}

form{
   position: relative;
   top: 30%;
   z-index: 1;
   
   max-width: 35%;
   margin: auto;
   padding-inline: 2rem;
   padding-top:2rem;

   display: flex;
   flex-direction: column;

   background-color: var(--white);
   
   border-radius:0.8rem ;
   font-family: var(--ff-arial-helvetica);
}

form .form-header{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   
   align-items: center;

   margin-bottom:2rem ;
}

.form-header h2{
   font-size: 2.4rem;
   grid-column-start: 2;
   justify-self: center;
}

.form-header .close-btn{
   justify-self: end;
}

form label{
   font-size: 1.6rem;
   margin-bottom: 0.8rem;
   color: var(--clr-text);
}

form input{
   padding: 1.2rem;
   font-size: 1.6rem;

   border: 1px solid #ddd;
   border-radius:0.5rem ;
   margin-bottom: 2rem;
}

form .btn-create-task{
   margin-inline: -2rem; /* butão que ocupa a base toda*/
   padding-block: 1.6rem;

   font-size: 1.6rem;
   font-weight: bold;
   text-transform: uppercase;
   
   border: none;
   border-radius: 0 0 0.8rem  0.8rem ;

   background-color: var(--red);
   color: var(--white);
}