.cardContainer {
	max-width: min(31.7rem, 100%);
	height: max-content;

	background-color: var(--light-background);
	border-radius: 1rem;
}

.cardContainer img {
	max-width: 100%;
}
.cardContainer header img {
	border-radius: 1rem 1rem 0px 0px;
}

.info {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.info .name {
	margin-top: 2rem;
	font-family: var(--ff-inter);
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3rem;

	color: var(--clr-title);
}

.info .job {
	margin-top: 0.6rem;

	font-family: var(--ff-inter);
	font-weight: 400;
	font-size: 1.28rem;
	line-height: 1.5rem;

	color: var(--orange);
}

.info small {
	margin-top: 0.9rem;
	font-family: var(--ff-inter);

	font-weight: 400;
	font-size: 1.02rem;
	line-height: 150%;

	color: var(--clr-text);
}

.social {
	margin-top: 1.7rem;
	display: flex;
	align-items: center;
	gap: 1.7rem;
}

.linkTree {
	background-color: var(--grey-400);
	display: flex;
	align-items: center;
	justify-content: center;

	padding-block: 1.95rem;

	border-radius: 0px 0px 1rem 1rem;
}

.linkTree a {
	margin-right: 2.4rem;
}

.linkTree :nth-last-child(1) {
	margin-right: 0rem;
}




.darkTheme{
	background-color: var( --dark-theme);
	color: var(--grey-200);
}

.darkTheme .name{
	color: var(--white);
}
.darkTheme small{
	color: var(--grey-100);
}

.darkTheme .linkTree{
	background-color: var(--grey-dark-700);
}



.react-switch-container{
	width: 100%;
	padding-top: 0.6rem;
	padding-right: 1rem;

	display: flex;
	align-items: center;
	justify-content: end;
}
