body{
   overflow: hidden;
}
.content{
   padding: 5.7rem 2.5rem 0;
   width: 100vw;
   height: 95vh;
   background: var(--white) url('../assets/reactjs-icon.svg');
   background-repeat: no-repeat;
   background-position: right 75%;
  
}

.content .title{
   font-size: 3.9rem;
   font-weight: 700;
   font-family: var(--ff-inter);
   line-height: 4.7rem;
   letter-spacing: -0.05em;

   color: var(--black);

}

.content .topics{
   margin-top: 4.6rem;
   margin-left: 5rem;
   list-style-type: disc;
}  
   
.topics > li::marker{
   color: var(--light-blue);
   font-size: 2.5rem;
}

.topics li{
   color: var(--black);
   font-size: 1.6rem;
   font-weight: 400;
   font-family: var(--ff-inter);
   line-height: 1.9rem;

   max-width: 40rem;

   margin-bottom: 2rem;
}  


main.dark {
   /* background-image: url("./images/react-icon-dark.png");  */
   background-color: var(--background);
   color: var(--white);    
}  

main.dark .title, 
main.dark .topics li{
   color: var(--white);    
}  

