@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   font-size: 62.5%;
} */


.erro-message{
   @apply text-sm text-red-500 mb-4
}