.hero {
	display: flex;
	flex-direction: column;
}

.hero-photo {
	max-width: min(50rem, 90%);
	margin-top: 2.6rem;
	align-self: center;
}

.title {
	margin-left: 3rem;
	margin-top: 3.2rem;

	font-family: "Poppins";
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 110%;

	color: #000000;
}

.invite {
	max-width: 32rem;
	margin-left: 3rem;
	margin-top: 1.6rem;

	font-family: "Poppins";
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 110%;

	color: #222222;
}

.card-list {
	margin-left: 3rem;

	/* scroll horizontal*/
	display: flex;
	flex-wrap: nowrap;
	gap: 2rem;
	overflow-x: auto;
}
